# <center>CHALLENGE 3<center>

<p>Team Name: Morse Coders
<p>Student Names: Aubrey Merritt and Carrington Wynn
<p>Student W#s: W0749642 and W0731024

## Instructions
Use generic coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Use appropriate Python library methods for each task instead of using loops.<br>
Run your entire code and save. Then submit this <b>saved</b> copy.

## Imports

In [25]:
import pandas as pd
import numpy as np

## Loading Data

Load "titanic.csv" into the data frame object "data"</br>
[train.csv](https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/titanic/train.csv)

In [49]:
data = pd.read_table('train.csv')
print(data) # checking

    PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0    1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/...
1    2,1,1,"Cumings, Mrs. John Bradley (Florence Br...
2    3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,S...
3    4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May ...
4    5,0,3,"Allen, Mr. William Henry",male,35,0,0,3...
..                                                 ...
886  887,0,2,"Montvila, Rev. Juozas",male,27,0,0,21...
887  888,1,1,"Graham, Miss. Margaret Edith",female,...
888  889,0,3,"Johnston, Miss. Catherine Helen ""Car...
889  890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,11...
890  891,0,3,"Dooley, Mr. Patrick",male,32,0,0,3703...

[891 rows x 1 columns]

## Data Processing

Create a data frame object "pasUpto19".
> Columns of pasUpto19 = {AGE_12, AGE_TEEN, PCLASS}.<br>
> AGE_12 : Passengers with age in \[1, 12]<br>
> AGE_TEEN : Passengers with age in \[13, 19]<br>

In [57]:
dataframe = pd.DataFrame(data, columns = ['Pclass', 'Age']) 

print(dataframe)


#data data;
 #   set data;
  #  if APassengerIdge <= 12;
#run;
#data data;
  #  set data;
 #   where Age <= 12;
#run;

     Pclass  Age
0       NaN  NaN
1       NaN  NaN
2       NaN  NaN
3       NaN  NaN
4       NaN  NaN
..      ...  ...
886     NaN  NaN
887     NaN  NaN
888     NaN  NaN
889     NaN  NaN
890     NaN  NaN

[891 rows x 2 columns]

Display 5 rows below and above the middle row of "pasUpto19":

Group pasUpto19 by AGE_TEEN:

Get the mean of PCLASS for each group of AGE_TEEN and display the mean by age groups:

Sort "pasUpto19" by the age of teenages and store into a DF object "pasUpto19_sortTeen":

## Summarize Data

Create "pasUpto19_stat" an object from the statistics of pasUpto19. Use the method describe(). Print the statistics.

Store each statistics of pasUpto19_stat into a multi-dimensional list "pasUpto19_stat_lst" individually. Print the list.

Print rows where AGE_12 >= mean of AGE_12 or AGE_TEEN >= mean AGE_TEEN.

## Use of method "eval(Age ...)"

<b>Sample Code Snippet:</b><br>
<p>
dic = {"x": pd.Series([2,-1,3,5], name="x"),
      "y": pd.Series((10,11,12), name="y")
      }<br>
df = pd.DataFrame(dic)<br>
print(df)<br>
df.eval("x == 5")
</p>

Get passengers whose age is in \[3,7) or in \[12, 15] and store into "pas3to6_12to15":

## Plots

Create a figure "Plots for Pclass and Age"<br>
Plot histograms for "PCLASS", "AGE_12", and "AGE_TEEN" side by side:

Add a scatter plot for "PCLASS" vs. "AGE_12" into the first cell and "PCLASS" vs. "AGE_TEEN" into the last cell on the same figure at the second row:

## <center> REFERENCES </center>
List resources (book, internet page, etc.) that you used to complete this challenge.