# <center>CHALLENGE 3<center>

<p>Team Name: Morse Coders
<p>Student Names: Aubrey Merritt and Carrington Wynn
<p>Student W#s: W0749642 and W0731024

## Instructions
Use generic coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Use appropriate Python library methods for each task instead of using loops.<br>
Run your entire code and save. Then submit this <b>saved</b> copy.

## Imports

In [17]:
import pandas as pd
import numpy as np

## Loading Data

Load "titanic.csv" into the data frame object "data"</br>
[train.csv](https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/titanic/train.csv)

In [18]:
info = pd.read_csv('train.csv')

#are we supposed to have the syntax: 
data = pd.DataFrame(info)
#since we want 'data' to be a data frame opject?


print(data) # checking

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## Data Processing

Create a data frame object "pasUpto19".
> Columns of pasUpto19 = {AGE_12, AGE_TEEN, PCLASS}.<br>
> AGE_12 : Passengers with age in \[1, 12]<br>
> AGE_TEEN : Passengers with age in \[13, 19]<br>

In [19]:
pasUpto19 = pd.DataFrame(zip(data[data["Age"].between(1,12)].Age, data[data["Age"].between(13,19)].Age, data[data["Age"].between(1,19)].Pclass), columns = ['AGE_12', 'AGE_TEEN','Pclass'])
print(pasUpto19)
#1st data is calling dataframe 
#2nd data is calling the specific column 'Age' within the dataframe that have the ages bettween 1 -19
#.Age is retreving the actual column from the data DataFrame 
#'Age' is retreving the reference of the Age column so we can retreive the age ranges that we need 
# 157 is the number of passangers

    AGE_12  AGE_TEEN  Pclass
0      2.0      14.0       3
1      4.0      14.0       2
2      2.0      15.0       3
3      8.0      19.0       3
4      3.0      18.0       3
..     ...       ...     ...
57     2.0      17.0       3
58     1.0      19.0       3
59     4.0      16.0       1
60     9.0      19.0       1
61     4.0      18.0       3

[62 rows x 3 columns]

Display 5 rows below and above the middle row of "pasUpto19":

In [23]:
row = (len(pasUpto19))/2
above = 6
below = 5
pasUpto19.iloc(row-above)

ValueError: No axis named 25.0 for object type DataFrame

Group pasUpto19 by AGE_TEEN:

In [21]:
##print(pasUpto19.groupby('Age_Teen')['Pclass'].mean())

Get the mean of PCLASS for each group of AGE_TEEN and display the mean by age groups:

Sort "pasUpto19" by the age of teenages and store into a DF object "pasUpto19_sortTeen":

## Summarize Data

Create "pasUpto19_stat" an object from the statistics of pasUpto19. Use the method describe(). Print the statistics.

Store each statistics of pasUpto19_stat into a multi-dimensional list "pasUpto19_stat_lst" individually. Print the list.

Print rows where AGE_12 >= mean of AGE_12 or AGE_TEEN >= mean AGE_TEEN.

## Use of method "eval(Age ...)"

<b>Sample Code Snippet:</b><br>
<p>
dic = {"x": pd.Series([2,-1,3,5], name="x"),
      "y": pd.Series((10,11,12), name="y")
      }<br>
df = pd.DataFrame(dic)<br>
print(df)<br>
df.eval("x == 5")
</p>

Get passengers whose age is in \[3,7) or in \[12, 15] and store into "pas3to6_12to15":

## Plots

Create a figure "Plots for Pclass and Age"<br>
Plot histograms for "PCLASS", "AGE_12", and "AGE_TEEN" side by side:

Add a scatter plot for "PCLASS" vs. "AGE_12" into the first cell and "PCLASS" vs. "AGE_TEEN" into the last cell on the same figure at the second row:

## <center> REFERENCES </center>
List resources (book, internet page, etc.) that you used to complete this challenge.