# <center>CHALLENGE 3<center>

<p>Team Name: Morse Coders
<p>Student Names: Aubrey Merritt and Carrington Wynn
<p>Student W#s: W0749642 and W0731024

## Instructions
Use generic coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Use appropriate Python library methods for each task instead of using loops.<br>
Run your entire code and save. Then submit this <b>saved</b> copy.

## Imports

In [1]:
import pandas as pd

## Loading Data

Load "titanic.csv" into the data frame object "data"</br>
[train.csv](https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/titanic/train.csv)

In [2]:
info = pd.read_csv('train.csv')

#are we supposed to have the syntax: 
data = pd.DataFrame(info)
#since we want 'data' to be a data frame opject?


print(data) # checking

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## Data Processing

Create a data frame object "pasUpto19".
> Columns of pasUpto19 = {AGE_12, AGE_TEEN, PCLASS}.<br>
> AGE_12 : Passengers with age in \[1, 12]<br>
> AGE_TEEN : Passengers with age in \[13, 19]<br>

In [16]:
pasUpto19 = pd.DataFrame(zip(data[data["Age"].between(1,19)].Age, data[data["Age"].between(1,19)].Age, data[data["Age"].between(1,19)].Pclass), columns = ['AGE_12', 'AGE_TEEN','Pclass'])

pasUpto19.AGE_12.iloc[pasUpto19[pasUpto19["AGE_12"].between(13,19)].index] = None
pasUpto19.AGE_TEEN.iloc[pasUpto19[pasUpto19["AGE_TEEN"].between(1,12)].index] = None

print(pasUpto19)


#1st data is calling dataframe 
#2nd data is calling the specific column 'Age' within the dataframe that have the ages bettween 1 -19
#.Age is retreving the actual column from the data DataFrame 
#'Age' is retreving the reference of the Age column so we can retreive the age ranges that we need 
# 157 is the number of passangers

     AGE_12  AGE_TEEN  Pclass
0       2.0       NaN       3
1       NaN      14.0       2
2       4.0       NaN       3
3       NaN      14.0       3
4       2.0       NaN       3
..      ...       ...     ...
152     NaN      18.0       3
153     4.0       NaN       3
154     NaN      15.0       3
155     NaN      19.0       3
156     NaN      19.0       1

[157 rows x 3 columns]

C:\Users\carri\AppData\Local\Temp\ipykernel_13724\405831515.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pasUpto19.AGE_12.iloc[pasUpto19[pasUpto19["AGE_12"].between(13,19)].index] = None
C:\Users\carri\AppData\Local\Temp\ipykernel_13724\405831515.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pasUpto19.AGE_TEEN.iloc[pasUpto19[pasUpto19["AGE_TEEN"].between(1,12)].index] = None

Display 5 rows below and above the middle row of "pasUpto19":

In [22]:
userInput = input("Enter how many rows you want to display from the middle: ")
rowRange = int(userInput)
row = int((len(pasUpto19))/2)
count= rowRange

print("Middle row index value is: " , row, "\n")

for i in range(1,rowRange+1):
    print(pasUpto19.loc[[row-count]], "\n")
    count = count - 1
    print(" ")
    
print("\n", "------Middle------" ,"\n\n")

for i in range(1,rowRange+1):
    print(pasUpto19.loc[[row+i]], "\n")

Enter how many rows you want to display from the middle: 5
Middle row index value is:  78

    AGE_12  AGE_TEEN  Pclass
73     1.0       NaN       3


    AGE_12  AGE_TEEN  Pclass
74     NaN      18.0       2


    AGE_12  AGE_TEEN  Pclass
75     1.0       NaN       3


    AGE_12  AGE_TEEN  Pclass
76     NaN      17.0       2


    AGE_12  AGE_TEEN  Pclass
77     3.0       NaN       2



 ------Middle------


    AGE_12  AGE_TEEN  Pclass
79    10.0       NaN       3

    AGE_12  AGE_TEEN  Pclass
80     NaN      18.0       3

    AGE_12  AGE_TEEN  Pclass
81     NaN      19.0       2

    AGE_12  AGE_TEEN  Pclass
82     NaN      17.0       3

    AGE_12  AGE_TEEN  Pclass
83     NaN      14.0       1

Group pasUpto19 by AGE_TEEN:

In [11]:
groupedAgeTeen = pasUpto19.groupby(["AGE_TEEN"]).Pclass

Get the mean of PCLASS for each group of AGE_TEEN and display the mean by age groups:

In [21]:
groupedAgeTeen.mean()

AGE_TEEN
13.0    2.500000
14.0    2.500000
14.5    3.000000
15.0    2.600000
16.0    2.529412
17.0    2.384615
18.0    2.461538
19.0    2.360000
Name: Pclass, dtype: float64

Sort "pasUpto19" by the age of teenages and store into a DF object "pasUpto19_sortTeen":

In [20]:
pasUpto19_sortTeen = pd.DataFrame(pasUpto19).sort_values(by=['AGE_TEEN'])
print(pasUpto19_sortTeen)

     AGE_12  AGE_TEEN  Pclass
133     NaN      13.0       3
85      NaN      13.0       2
114     NaN      14.0       3
113     NaN      14.0       3
83      NaN      14.0       1
..      ...       ...     ...
143     2.0       NaN       3
144     1.0       NaN       2
149     4.0       NaN       3
150     9.0       NaN       3
153     4.0       NaN       3

[157 rows x 3 columns]

## Summarize Data

Create "pasUpto19_stat" an object from the statistics of pasUpto19. Use the method describe(). Print the statistics.

In [19]:
pasUpto19_stat = pd.DataFrame(pasUpto19).describe()
print(pasUpto19_stat)

          AGE_12   AGE_TEEN      Pclass
count  62.000000  95.000000  157.000000
mean    5.225806  17.215789    2.541401
std     3.276440   1.633513    0.711539
min     1.000000  13.000000    1.000000
25%     2.000000  16.000000    2.000000
50%     4.000000  18.000000    3.000000
75%     8.000000  19.000000    3.000000
max    12.000000  19.000000    3.000000

Store each statistics of pasUpto19_stat into a multi-dimensional list "pasUpto19_stat_lst" individually. Print the list.

In [18]:
pasUpto19_stat_lst = pasUpto19_stat.to_xarray()
print(pasUpto19_stat_lst)

<xarray.Dataset>
Dimensions:   (index: 8)
Coordinates:
  * index     (index) object 'count' 'mean' 'std' 'min' '25%' '50%' '75%' 'max'
Data variables:
    AGE_12    (index) float64 62.0 5.226 3.276 1.0 2.0 4.0 8.0 12.0
    AGE_TEEN  (index) float64 95.0 17.22 1.634 13.0 16.0 18.0 19.0 19.0
    Pclass    (index) float64 157.0 2.541 0.7115 1.0 2.0 3.0 3.0 3.0

Print rows where AGE_12 >= mean of AGE_12 or AGE_TEEN >= mean AGE_TEEN.

In [28]:
#find the mean of either Age_12 or Age_Teen 
#display the rows that have greater or equal the mean 
# possible function iterrows()

meanOfAge12 = pd.DataFrame(columns = ['AGE_12', 'AGE_TEEN','Pclass'] )
info = pasUpto19_stat.at["mean", "AGE_12"]
mean = float(info)

rows = len(pasUpto19)

print("Rows where AGE_12 >= mean of AGE_12: ")
print("Mean of AGE_12:",mean)
print(" ")

for i in range(rows):
    test = float(pasUpto19.at[i,"AGE_12"])
    if(test > mean):
        meanOfAge12.loc[len(meanOfAge12)] = pasUpto19.loc[i]
        
print(meanOfAge12)

Rows where AGE_12 >= mean of AGE_12:
Mean of AGE_12: 5.225806451612903

    AGE_12  AGE_TEEN  Pclass
0      8.0       NaN     3.0
1      7.0       NaN     3.0
2     11.0       NaN     3.0
3     12.0       NaN     3.0
4      9.0       NaN     3.0
5      9.0       NaN     3.0
6      9.0       NaN     3.0
7      8.0       NaN     2.0
8      7.0       NaN     3.0
9     10.0       NaN     3.0
10     9.0       NaN     3.0
11     9.0       NaN     3.0
12     7.0       NaN     2.0
13     9.0       NaN     3.0
14    11.0       NaN     3.0
15     8.0       NaN     2.0
16     9.0       NaN     3.0
17     6.0       NaN     2.0
18    11.0       NaN     3.0
19     6.0       NaN     3.0
20     8.0       NaN     3.0
21    11.0       NaN     1.0
22     6.0       NaN     3.0
23    10.0       NaN     3.0
24     9.0       NaN     3.0

## Use of method "eval(Age ...)"

<b>Sample Code Snippet:</b><br>
<p>
dic = {"x": pd.Series([2,-1,3,5], name="x"),
      "y": pd.Series((10,11,12), name="y")
      }<br>
df = pd.DataFrame(dic)<br>
print(df)<br>
df.eval("x == 5")
</p>

Get passengers whose age is in \[3,7) or in \[12, 15] and store into "pas3to6_12to15":

## Plots

Create a figure "Plots for Pclass and Age"<br>
Plot histograms for "PCLASS", "AGE_12", and "AGE_TEEN" side by side:

Add a scatter plot for "PCLASS" vs. "AGE_12" into the first cell and "PCLASS" vs. "AGE_TEEN" into the last cell on the same figure at the second row:

## <center> REFERENCES </center>
List resources (book, internet page, etc.) that you used to complete this challenge.

pandas: Comparison with SAS - https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sas.html 

GeeksForGeeks: Split Pandas Dataframe by Rows - https://www.geeksforgeeks.org/split-pandas-dataframe-by-rows/ 

https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc

https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_xarray.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html#pandas.DataFrame.at

https://www.geeksforgeeks.org/zip-in-python/

https://www.geeksforgeeks.org/create-pandas-dataframe-from-lists-using-zip/