# <center>CHALLENGE 1.1<center>

<p>Team Name: Morse Coders
<p>Student Names: Aubrey Merritt and Carrington Wynn
<p>Student W#s: W0749642 and W0731024

## Instructions
Use generic coding style unless hard-coded values are really necessary.<br>
Your code must be efficient and use self-explanatory naming.<br>
Run your entire code and save. Then submit this <b>saved</b> copy.

## Imports

# PART I

## Format

In [1]:
A = 'string'#initialize your variable with a value of the data type. Remove this comment.

print("id(A): ",id(A))

try:
    #at this line, write your code to modify the variable "A",
    #do not 'assign' a new value to "A"!. See the example below.
    #Remove this comment section and the example section below.
    '''
    Remove this example section before submit your work
    Example:

    A = 'str1'
    A[0] = 'b'
    '''
    
    print(type(A)," is a mutable data type!")

except:
    print(type(A)," is an immutable data type!")
finally:
    print("id(A): ",id(A))    
#

id(A):  2242659282416
<class 'str'>  is a mutable data type!
id(A):  2242659282416

# IMMUTABLE OBJECTS

## 1 - String

In [2]:
A = 'abcd'
print("id(A): ",id(A))
try:
    A[0] = 'b'
    print(type(A)," is a mutable data type!")
except:
    print(type(A)," is an immutable data type!")
finally:
    print("id(A): ",id(A))
#

id(A):  2242735740272
<class 'str'>  is an immutable data type!
id(A):  2242735740272

## 2 - Tuple

In [3]:
A = ()
print("id(A): ",id(A))
try:
    A = (3, 6, 9, 12, 15, 18)
    A[1] = 9
    print(type(A)," is a mutable data type!")
except:
    print(type(A)," is an immutable data type!")
finally:
    print("id(A): ",id(A))
#

id(A):  2242653143104
<class 'tuple'>  is an immutable data type!
id(A):  2242735481280

## 3 - Frozen Set

In [27]:
A = frozenset(["dog", "lizard", "cheetah"])
print("id(A): ",id(A))
try:
    A.add("bear")
    print(type(A)," is a mutable data type!")
except:
    print(type(A)," is an immutable data type!")
finally:
    print("id(A): ",id(A))    
#

id(A):  2242735831968
<class 'frozenset'>  is an immutable data type!
id(A):  2242735831968

## 4 - Int

In [73]:
A = 3 

print("id(A): ",id(A))

try:
    B = A
    A = A + 1
    print(type(A)," is a immutable data type!")
    

except:
    print(type(A)," is an mutable data type!")

finally:
    print("id(B): ", id(B), ", which is the same as A's first id value")
    print("id(A): ",id(A), ", which is different from the first A id value")     
#

id(A):  2242653153648
<class 'int'>  is a immutable data type!
id(B):  2242653153648 , which is the same as A's first id value
id(A):  2242653153680 , which is different from the first A id value

## 5 - Boolean

In [85]:
A = True 

print("id(A): ",id(A))

try:
    B = A
    A = False
    print(type(A)," is a immutable data type!")
    

except:
    print(type(A)," is an mutable data type!")

finally:
    print("id(B): ", id(B), ", which is the same as A's first id value")
    print("id(A): ",id(A), ", which is different from the first A id value")

id(A):  140732439656552
<class 'bool'>  is a immutable data type!
id(B):  140732439656552 , which is the same as A's first id value
id(A):  140732439656584 , which is different from the first A id value

## 6 - Float

In [86]:
A = 5.7 

print("id(A): ",id(A))

try:
    B = A
    A = 4.58
    print(type(A)," is a immutable data type!")
    

except:
    print(type(A)," is an mutable data type!")

finally:
    print("id(B): ", id(B), ", which is the same as A's first id value")
    print("id(A): ",id(A), ", which is different from the first A id value")

id(A):  2242735709264
<class 'float'>  is a immutable data type!
id(B):  2242735709264 , which is the same as A's first id value
id(A):  2242735708848 , which is different from the first A id value

## 7 - Complex

In [87]:
A = complex(7,6)

print("id(A): ",id(A))

try:
    B = A
    A = complex(5,1)
    print(type(A)," is a immutable data type!")
    

except:
    print(type(A)," is an mutable data type!")

finally:
    print("id(B): ", id(B), ", which is the same as A's first id value")
    print("id(A): ",id(A), ", which is different from the first A id value")

id(A):  2242736211696
<class 'complex'>  is a immutable data type!
id(B):  2242736211696 , which is the same as A's first id value
id(A):  2242736211376 , which is different from the first A id value

## 8 -Character

In [88]:
A = 'I'

print("id(A): ",id(A))

try:
    B = A
    A = 'U'
    print(type(A)," is a immutable data type!")
except:
    print(type(A)," is an mutable data type!")

finally:
    print("id(B): ", id(B), ", which is the same as A's first id value")
    print("id(A): ",id(A), ", which is different from the first A id value")

id(A):  2242659489648
<class 'str'>  is a immutable data type!
id(B):  2242659489648 , which is the same as A's first id value
id(A):  2242662210288 , which is different from the first A id value

## 9 - Byte Sequence

In [89]:
A = bytes([0, 1, 2, 3, 4, 5, 6, 7])

print("id(A): ",id(A))

try:
    A.append(99)
    print(type(A)," is a mutable data type!")
except:
    print(type(A)," is an immutable data type!")

finally:
    print("id(A): ",id(A))

id(A):  2242735713184
<class 'bytes'>  is an immutable data type!
id(A):  2242735713184

## 10 - Byte

In [90]:
A = bytes(9)

print("id(A): ",id(A))

try:
    B = A
    A = bytes(84)
    print(type(A)," is a immutable data type!")
except:
    print(type(A)," is an mutable data type!")

finally:
    print("id(B): ", id(B), ", which is the same as A's first id value")
    print("id(A): ",id(A), ", which is different from the first A id value")

id(A):  2242736241040
<class 'bytes'>  is a immutable data type!
id(B):  2242736241040 , which is the same as A's first id value
id(A):  2242736177584 , which is different from the first A id value

# MUTABLE OBJECTS

## 1 - List

In [91]:
aLst = ['a','b','c','d']
print("id(A): ",id(A))
try:
    aLst[0] = 'A'
    print(type(aLst)," is a mutable data type!")
except:
    print(type(aLst)," is an immutable data type!")
finally:
    print("id(aLst): ",id(A))
#

id(A):  2242736177584
<class 'list'>  is a mutable data type!
id(aLst):  2242736177584

## 2 - Dictionary

In [92]:
bDi = {1: 'love', 2: 'heart', 3: 'change'}
print("id(A): ",id(A))
try:
    bDi[2] = 'A'
    print(type(bDi)," is a mutable data type!")
except:
    print(type(bDi)," is an immutable data type!")
finally:
    print("id(bDi): ",id(A))
#

id(A):  2242736177584
<class 'dict'>  is a mutable data type!
id(bDi):  2242736177584

## 3 - Set

In [93]:
A = set(["a", "b", "c"])
print("id(A): ",id(A))
try:
    A.add("G")
    print(type(A)," is a mutable data type!")
except:
    print(type(A)," is an immutable data type!")
finally:
    print("id(A): ",id(A))    
#

id(A):  2242735831744
<class 'set'>  is a mutable data type!
id(A):  2242735831744

## 4 - Byte Array

In [94]:
A = bytearray([1,2,3,4,5])
print("id(A): ",id(A))
try:
    A.append(88)
    print(type(A)," is a mutable data type!")
except:
    print(type(A)," is an immutable data type!")
finally:
    print("id(A): ",id(A))    
#

id(A):  2242735980848
<class 'bytearray'>  is a mutable data type!
id(A):  2242735980848

## 5 - User Define Classes (if not designed to be immutable)

In [95]:

class Dog:
    attr1 = "mammal"
    name = "golden"
    def __init__(self, name, att1):
        self.name = name
        self.attr1 = att1
    def nameChange(self, newName):
        self.name = newName
    

goldenDoodle = Dog("doodle", "skinny")
print("id(A): ",id(goldenDoodle))  
try:
    goldenDoodle.nameChange("Demi")
    print(type(goldenDoodle)," is a mutable data type!")
except:
    print(type(goldenDoodle)," is an immutable data type!")
finally:
    print("id(A): ",id(goldenDoodle))    
#

id(A):  2242735828368
<class '__main__.Dog'>  is a mutable data type!
id(A):  2242735828368